body{
    background-color:wheat;
    width: auto;
    height: auto;
}
/*Stylesheet for container #e0c9c8;*/
#container{

    background-color: #e0c9c8;
    width: 60%;
    height: 970px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'IBM Plex Mono', monospace;
}

/*Stylesheet for min header container, hvor header og nav-bar er placeret*/
#header-container{
    margin-top: -2.8%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 12%;
    background-color: #b52f2f;  
    border-radius: 5px;
}

/*Stylesheet for min overskrift header*/
#header{
    margin-left: auto;
    margin-right: auto;
    height: 60%;
    font-family: 'IBM Plex Mono', monospace;
}

/*Stylesheet for min main-container*/
#main-container{
    width: auto;
    height: 50%;
    background-color: #e0c9c8;
    
}

/*Stylesheet for min footer*/
#footer{
    width: 99%;
    height: 2%; 
    text-align: right;
}

/*Stylesheet for min nav-bar*/
#nav-bar{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 40%;
    background-color: #3b3737;
}

/*Head nav css start*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-size: 1.0vw;
  font-size: 1.5vh;
  font-family: 'IBM Plex Mono', monospace;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

li a:hover:not(.active) {
  background-color: #111;
}
/*Head nav  css slut*/


/*Stylesheet til hvis man skal disable noget*/
.selected {
    pointer-events:none; 
    background-color:  #b52f2f;
}


/*Stylesheet for min side hvor man kan registrer sig*/
#registrer-form{
    margin-top: 10%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 60%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}


/*Stylesheet for min textboxs style for registrer*/
.textboxs{
    background-color: #FFFFFF;
    width: 200px;
    padding: 5px 3px 3px 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    text-align: center;
    font-size: 1.7vw;
    font-size: 1.7vh;
}


/*Stylesheet for at center min tabel på registrer siden*/
#registrer-form-center{
    margin-left: 4%;
    margin-right: auto;
}

/*Styelsheet for cancel knappen*/
.knap{
  margin-top: 4%;
  background-color: #b52f2f;  
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  font-size: 1.7vw;
  font-size: 1.7vh;
  border-radius: 5px;
}


/*stylesheet for det kasser som er uden om et opslag*/
#user-data-container{
  margin-top: 1%;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  height: 8%;
  overflow: hidden;
  background-color: #e0c9c8;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #d5dbe3;
}


/*Stylesheet for at når der kommer et hvis antal opslag lave denne funktion
en scroll bar mid på siden så den stadig for bliver standart fixed*/
div.ex1{
  width: 100%;
  height: 100%;
  overflow: auto;
}

#main-container-reg-center{
    height: 160%;
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
    background-color: #e0c9c8;
    
}


table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
}
th {
  text-align: left;
}
